* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  position: fixed;
  height: 10%;
  background-color: #fff;
  z-index: 77;
}
.nav-brand {
  font-family: "Inria Serif";
  font-size: 2rem;
  cursor: pointer;
  transition: all ease 0.3s;
  padding-bottom: 30px;
}
.nav-brand:hover {
  color: #4d4d4d;
  scale: 0.95;
}
.after-dot::after {
  content: ".";
  color: #00eb8f;
  font-size: 70px;
  font-family: "crossorigin";
}
.nav-links {
  height: 100%;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.link-nav {
  border-bottom: transparent 2px solid;
  transition: border ease 0.5s;
  cursor: pointer;
  letter-spacing: 1px;
}
.link-nav:hover {
  border-color: #00eb8f;
}
.btn-green {
  border: #4d4d4d 1px solid;
  border-radius: 70px 20px;
  box-sizing: content-box;
  padding: 10px 20px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.btn-green::before {
  content: "";
  width: 200%;
  height: 200%;
  background-color: #00eb8f;
  position: absolute;
  z-index: -1;
  margin-left: -300%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 1s ease;
}
.btn-green:hover::before {
  margin-left: 0px;
}
/* main */
main {
  width: 100%;
  height: calc(100% - 10%);
}
.front-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.front-div > h1 {
  font-family: "crossorigin";
  font-size: 5em;
  font-weight: 400;
  text-align: center;
  padding-bottom: 20px;
  position: relative;
}
.front-div > h1::after {
  content: "";
  background-image: url("https://thisisdigital.co.uk/dist/images/underline-green.svg");
  width: 3.72em;
  height: 10px;
  position: absolute;
  top: 85%;
  left: 39%;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.btn > .btn-green {
  padding: 5px 30px;
  border-radius: 20px;
}
.images img {
  width: 270px;
  height: auto;
  position: absolute;
  transition: margin-top 0.5s ease;
}
.image1 {
  top: 25%;
  left: 5%;
  z-index: -1;
}
.image2 {
  top: 25%;
  left: 60%;
  z-index: -1;
}
.image3 {
  top: 50%;
  left: 76%;
  z-index: -2;
}
.images img:hover {
  margin-top: -20px;
}
.black {
  height: 60vh;
  width: 100%;
  background-color: #000;
  position: absolute;
  top: 100%;
  color: #fff;
  text-align: center;
  font-size: x-large;
}
.black p {
  font-size: 42px;
  padding: 20px 250px;
  font-family: "DM Serif Display";
  font-weight: 100;
  line-height: 55px;
  letter-spacing: 1.2px;
}
.green-btn {
  padding: 5px 20px;
  border: #4d4d4d 1px solid;
  border-radius: 20px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: background-color ease 0.3s;
}
.green-btn:hover {
  background-color: #00eb8f;
}
.circle::before {
  content: "";
}
@media (max-width: 900px) {
  .front-div > h1 {
    font-size: 3em;
  }
  .image1 {
    left: 0%;
  }
  .image3 {
    right: 0%;
  }
  .nav-links {
    display: none;
  }
}
@media (max-width: 500px) {
  .black {
    top: 100%;
  }
  .front-div {
    top: 35%;
  }
  .front-div > h1 {
    font-size: 2em;
  }
  .front-div > h1::after {
    left: 32%;
    top: 75%;
  }
  .images {
    display: flex;
    flex-wrap: wrap;
  }
  .images img {
    top: 50%;
  }
  .image1 {
    width: 100% !important;
    aspect-ratio: 1;
  }
  .image2,
  .image3 {
    display: none;
  }
}
